<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <record model='ir.actions.act_window' id='rawscan_base_act'>
            <field name="name">Raw scans</field>
            <field name="res_model">aol.rawscan.base</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record> 
        <record model='ir.actions.act_window' id='rawscan_nessus_act'>
            <field name="name">Nessus scans</field>
            <field name="res_model">aol.rawscan.nessus</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record> 
        <record model='ir.actions.act_window' id='aol_attr_val_act'>
            <field name="name">Attribute values</field>
            <field name="res_model">aol.attr.value</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record> 
        <record model='ir.actions.act_window' id='aol_attr_act'>
            <field name="name">Attributes</field>
            <field name="res_model">aol.attr</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record> 
        <record model='ir.actions.act_window' id='aol_risk_type_act'>
            <field name="name">Risk types</field>
            <field name="res_model">aol.risk.type</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record> 
        <record model='ir.actions.act_window' id='aol_risk_act'>
            <field name="name">Risks</field>
            <field name="res_model">crm.lead</field>
            <field name="domain">[('is_risk', '=', True)]</field>
        </record> 
        <record model='ir.actions.act_window' id='aol_asset_act'>
            <field name="name">Assets</field>
            <field name="res_model">res.partner</field>
            <field name="domain">[('is_asset', '=', True)]</field>
        </record> 
        
        
        <menuitem name="Aol tender" id="aol_menu_root"/>
            <menuitem name="Models" parent="aol_menu_root" id="technical1_id" sequence="10"/>
                <menuitem action="rawscan_nessus_act" parent="technical1_id" id="rawscan_nessus_act_id" sequence="10" />
                <menuitem action="rawscan_base_act" parent="technical1_id" id="rawscan_base_act_id" sequence="30" />
                <menuitem action="aol_risk_type_act" parent="technical1_id" id="aol_risk_type_act_id" sequence="50" />
                <menuitem action="aol_attr_act" parent="technical1_id" id="aol_attr_act_id" sequence="60" />
                <menuitem action="aol_attr_val_act" parent="technical1_id" id="aol_attr_val_act_id" sequence="70" />
                <menuitem action="aol_risk_act" parent="technical1_id" id="aol_risk_act_id" sequence="80" />
                <menuitem action="aol_asset_act" parent="technical1_id" id="aol_asset_act_id" sequence="90" />
        
    </data>
</openerp>